In [2]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
ds = pd.read_csv('ChurnModelling.csv')

In [4]:
ds.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Divide DataSet into independent and dependent variables
X = ds.iloc[:,3:13]
Y = ds.iloc[:,13]

In [6]:
X.head(5)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [7]:
Y.head(5)

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [8]:
# Feature Enginnering Part
geography = pd.get_dummies(X['Geography'],drop_first = True)
gender = pd.get_dummies(X['Gender'],drop_first = True)

In [9]:
# Join them with dataset
X = X.drop(['Geography','Gender'],axis = 1)
X = pd.concat([X,geography,gender],axis=1)

In [11]:
# Splitting the dataset into train test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2,random_state=0)

In [12]:
# feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
X_train.shape

(8000, 11)

In [18]:
from tensorflow.keras.layers import *
from tensorflow.keras import Sequential

In [20]:
# Lets initialize the ANN
model = Sequential()

In [21]:
# Adding the input layer ( here units =11 means the size of X_train)
model.add(Dense(units=11,activation='relu'))

In [23]:
# Adding the first hidden layer (here units are random)
model.add(Dense(units=7,activation='relu'))

In [24]:
# Add second hidden layer
model.add(Dense(units=6,activation='relu'))

In [25]:
# Output layer ( Here units are the type of classifcation (binary and multi class))
model.add(Dense(1,activation='sigmoid'))

In [28]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [30]:
model_history = model.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=30)

Epoch 1/30
536/536 [==============================] - 3s 5ms/step - loss: 0.3320 - accuracy: 0.8647 - val_loss: 0.3616 - val_accuracy: 0.8485
Epoch 2/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3311 - accuracy: 0.8642 - val_loss: 0.3626 - val_accuracy: 0.8466
Epoch 3/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3305 - accuracy: 0.8651 - val_loss: 0.3611 - val_accuracy: 0.8455
Epoch 4/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3297 - accuracy: 0.8640 - val_loss: 0.3619 - val_accuracy: 0.8470
Epoch 5/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3280 - accuracy: 0.8664 - val_loss: 0.3640 - val_accuracy: 0.8478
Epoch 6/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3282 - accuracy: 0.8658 - val_loss: 0.3619 - val_accuracy: 0.8501
Epoch 7/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3283 - accuracy: 0.8651 - val_loss: 0.3598 - val_accuracy: 0.8501
Epoch 8/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3270 - accuracy: 0.8634 - val_loss: 0.3603 - val_accuracy: 0.8504
Epoch 9/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3260 - accuracy: 0.8666 - val_loss: 0.3611 - val_accuracy: 0.8459
Epoch 10/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3263 - accuracy: 0.8656 - val_loss: 0.3606 - val_accuracy: 0.8470
Epoch 11/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3242 - accuracy: 0.8645 - val_loss: 0.3605 - val_accuracy: 0.8516
Epoch 12/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3241 - accuracy: 0.8683 - val_loss: 0.3606 - val_accuracy: 0.8485
Epoch 13/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3230 - accuracy: 0.8651 - val_loss: 0.3596 - val_accuracy: 0.8493
Epoch 14/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3231 - accuracy: 0.8679 - val_loss: 0.3604 - val_accuracy: 0.8516
Epoch 15/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3226 - accuracy: 0.8681 - val_loss: 0.3571 - val_accuracy: 0.8542
Epoch 16/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3219 - accuracy: 0.8666 - val_loss: 0.3589 - val_accuracy: 0.8531
Epoch 17/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3219 - accuracy: 0.8642 - val_loss: 0.3575 - val_accuracy: 0.8531
Epoch 18/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3209 - accuracy: 0.8670 - val_loss: 0.3615 - val_accuracy: 0.8444
Epoch 19/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3209 - accuracy: 0.8656 - val_loss: 0.3579 - val_accuracy: 0.8519
Epoch 20/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3200 - accuracy: 0.8694 - val_loss: 0.3592 - val_accuracy: 0.8519
Epoch 21/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3199 - accuracy: 0.8670 - val_loss: 0.3575 - val_accuracy: 0.8565
Epoch 22/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3191 - accuracy: 0.8671 - val_loss: 0.3582 - val_accuracy: 0.8516
Epoch 23/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3188 - accuracy: 0.8640 - val_loss: 0.3612 - val_accuracy: 0.8531
Epoch 24/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3194 - accuracy: 0.8651 - val_loss: 0.3577 - val_accuracy: 0.8523
Epoch 25/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3180 - accuracy: 0.8660 - val_loss: 0.3603 - val_accuracy: 0.8508
Epoch 26/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3184 - accuracy: 0.8675 - val_loss: 0.3595 - val_accuracy: 0.8493
Epoch 27/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3178 - accuracy: 0.8664 - val_loss: 0.3590 - val_accuracy: 0.8523
Epoch 28/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3171 - accuracy: 0.8688 - val_loss: 0.3585 - val_accuracy: 0.8497
Epoch 29/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3161 - accuracy: 0.8666 - val_loss: 0.3593 - val_accuracy: 0.8485
Epoch 30/30
536/536 [==============================] - 2s 4ms/step - loss: 0.3162 - accuracy: 0.8686 - val_loss: 0.3611 - val_accuracy: 0.8482

In [52]:
X_test[0]

array([-0.55204276, -0.36890377,  1.04473698,  0.8793029 , -0.92159124,
        0.64259497,  0.9687384 ,  1.61085707,  1.75486502, -0.57369368,
       -1.09168714])

In [71]:
y_test.iloc[609]

1

In [54]:
# Making Predictions
y_pred = model.predict(X_test)
y_pred = (y_pred >= 0.5)

63/63 [==============================] - 0s 3ms/step

In [70]:
y_pred[609]

array([ True])

In [69]:
model.evaluate(X_test,y_test)

63/63 [==============================] - 0s 6ms/step - loss: 0.3533 - accuracy: 0.8510

[0.35333332419395447, 0.8510000109672546]